/* styles.css */

body {
    background-color: black;
    font-family: 'Franklin Gothic Medium';
  }

/* Estilos para el encabezado */
h1 {
    color: #ffffff;
    text-align: center;
  }
  
  /* Estilos para la tabla */
  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  th, td {
    border: 1px solid #101010;
    background-color: #e9d9af;
    padding: 10px;
    text-align: center;
    
  }
  
  th {
    background-color: #e29a63;
    font-size: large;
  }
  

  